ion-grid {
    padding: 20px;
    background-color: #f3f3f3;
  }
  
  h5 {
    margin-bottom: 10px;
  }
  
  ion-list {
    margin-bottom: 20px;
  }
  
  ion-item {
    --padding-start: 0;
  }
  
  ion-label a {
    color: #333;
    text-decoration: none;
  }
  
  ion-icon {
    margin-right: 5px;
  }