ion-button {
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
}

ion-button:hover {
  transform: scale(1.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.subpages {
  display: flex;
  gap: 10px;
}

.logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.slide-image {
  width: 100%;
  height: auto;
}

.card-products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  border-radius: 15px;
  overflow: hidden; /* Esto es para que la imagen también tenga los bordes redondeados */
}

.card-image {
  border-radius: 15px;
  object-fit: cover;
}

ion-card-header {
  flex-grow: 1;
}

button-cart {
  margin-top: auto;
  position: absolute;
  bottom: 0;
  border-radius: 15px;
}

.product-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 350px; /* Ajusta este valor según tus necesidades */
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

ion-button.product-button {
  margin-top: auto;
}

.product-card-header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  flex-grow: 1;
  overflow: auto;
}

.product-title, .product-price {
  height: 50px; /* Ajusta este valor según tus necesidades */
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-subtitle {
  font-size: 1em;
  color: #666;
}

.product-button {
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
}

.product-button:hover {
  transform: scale(1.1);
}

.my-custom-class {
  --background: rgba(0, 0, 0, 0.8);
  --spinner-color: #fff;
}

.ion-content {
  margin-top: 100px; /* Ajusta este valor según la altura de tu encabezado */
}
