<ion-content class="ion-content">
  <ion-grid>
    <ion-row>
      <!-- Columna del filtro -->
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-toolbar>
            <ion-title>Productos</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="toggleFilter()">
                <ion-icon slot="icon-only" name="funnel"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-toolbar>
            <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="search()"></ion-searchbar>
          </ion-toolbar>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6" size-md="8" size-lg="9">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Todos los Zapatos</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-grid>
          <ion-row>
            <!-- Repite este bloque para cada producto en tu lista de productos -->
            <ion-col size="6" size-md="4" size-lg="3" *ngFor="let product of filteredProducts">
              <ion-card class="card-products">
                <img [src]="product.images[0]" [alt]="product.descripcion" class="card-image"/> <!-- Aquí se usa la propiedad image del producto -->
                <ion-card-header>
                  <ion-card-title>{{product.descripcion}}</ion-card-title>
                  <ion-card-subtitle>${{product.precio}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <p>Stock: 20</p> <!-- Aquí se usa un valor quemado para el stock -->
                </ion-card-content>
                <ion-button expand="full" color="primary" class="button-cart" (click)="goToProductDetails(product)">VER</ion-button>
              </ion-card>
            </ion-col>
            <!-- Fin del bloque para cada producto -->
          </ion-row>
          <ion-row>
            <ion-col>
              <!-- Botón para ir a la página anterior -->
              <ion-button (click)="previousPage()" [disabled]="currentPage === 1">
                <ion-icon name="arrow-back"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <!-- Muestra el número de la página actual -->
              <p>{{currentPage}}</p>
            </ion-col>
            <ion-col>
              <!-- Botón para ir a la página siguiente -->
              <ion-button (click)="nextPage()" [disabled]="currentPage * pageSize >= products.length">
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>


