<ion-content class="ion-content">
  <ion-grid>
    <ion-row>
      <!-- Columna del filtro -->
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">

        <ion-card class="filter-card">
          <ion-card-content>
            <!-- Disparador para expandir/colapsar filtros -->
            <ion-item-divider button (click)="toggleFiltersVisibility()">
              <ion-label class="bold-large">Filtros</ion-label>
              <ion-icon slot="end" name="chevron-down" *ngIf="!filtersVisible"></ion-icon>
              <ion-icon slot="end" name="chevron-up" *ngIf="filtersVisible"></ion-icon>
            </ion-item-divider>
            <!-- Grupo de filtros -->
            <ion-item-group *ngIf="filtersVisible">
              <ion-item>
                <ion-label>Marca</ion-label>
                <ion-select [(ngModel)]="filter.marca" (ionChange)="filterProducts()">
                  <ion-select-option *ngFor="let marca of getUniqueBrands()" [value]="marca">{{ marca }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Color 1</ion-label>
                <ion-select [(ngModel)]="filter.color_1" (ionChange)="filterProducts()">
                  <ion-select-option *ngFor="let color of getUniqueColors('color_1')" [value]="color">{{ color }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Color 2</ion-label>
                <ion-select [(ngModel)]="filter.color_2" (ionChange)="filterProducts()">
                  <ion-select-option *ngFor="let color of getUniqueColors('color_2')" [value]="color">{{ color }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Precio</ion-label>
                <ion-range min="0" max="500" step="10" dualKnobs="true" [(ngModel)]="filter.precio" (ionChange)="filterProducts()">
                  <ion-icon size="small" slot="start" name="cash-outline"></ion-icon>
                  <ion-icon slot="end" name="cash-outline"></ion-icon>
                </ion-range>
                <div class="price-range-text">
                  ${{filter.precio.lower}} - ${{filter.precio.upper}}
                </div>
              </ion-item>
              <ion-item>
                <ion-label>Días de Entrega</ion-label>
                <ion-range min="0" max="30" step="1" [(ngModel)]="filter.dias_entrega" (ionChange)="filterProducts()">
                  <ion-icon size="small" slot="start" name="time-outline"></ion-icon>
                  <ion-icon slot="end" name="time-outline"></ion-icon>
                </ion-range>
                <div class="price-range-text">
                  {{filter.dias_entrega}} días
                </div>
              </ion-item>
              <ion-item>
                <ion-button style="margin: auto;" expand="block" color="medium" (click)="resetFilters()">Restablecer Filtros</ion-button>
              </ion-item>
            </ion-item-group>
          </ion-card-content>
        </ion-card>
      </ion-col>



      <ion-col size="12" size-sm="6" size-md="8" size-lg="9">
        <ion-card class="header-card">
          <ion-row>
            <ion-col size="4" size-sm="3">
              <ion-card-header>
                <ion-card-title>Productos</ion-card-title>
              </ion-card-header>
            </ion-col>
            <ion-col size="8" size-sm="9">
              <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="search()"></ion-searchbar>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-grid>
          <ion-row>
            <!-- Repite este bloque para cada producto en tu lista de productos -->
            <ion-col size="6" size-md="4" size-lg="3" *ngFor="let product of filteredProducts">
              <ion-card class="product-card">
                <img [src]="product.images[0]" [alt]="product.descripcion" class="product-image"/>
                <ion-card-header>
                  <ion-card-title>{{product.descripcion}}</ion-card-title>
                  <ion-card-subtitle>${{product.precio}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <p>Stock: {{product.stock}}</p>
                </ion-card-content>
                <ion-button expand="full" color="primary" class="view-button" (click)="goToProductDetails(product)">VER</ion-button>
              </ion-card>
            </ion-col>
            <!-- Fin del bloque para cada producto -->
          </ion-row>
          <ion-row class="pagination-row">
            <ion-col size="4" class="text-center">
              <ion-button fill="clear" (click)="previousPage()" [disabled]="currentPage === 1">
                <ion-icon name="arrow-back"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="4" class="text-center">
              <p>{{currentPage}}</p>
            </ion-col>
            <ion-col size="4" class="text-center">
              <ion-button fill="clear" (click)="nextPage()" [disabled]="currentPage * pageSize >= products.length">
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
