ion-searchbar {
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    --border-radius: 15px;

  }

  /* header.component.scss */

.user-section {
  display: flex;
  align-items: center;
}

.user-section ion-avatar {
  margin-right: 10px;
}

.user-section span {
  font-size: 10px;
  font-weight: bold;
}

.user-section ion-avatar {
  margin-right: 10px;
  width: 30px;  /* Ajusta el ancho de la imagen */
  height: 30px; /* Ajusta la altura de la imagen */
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}



.logo {
  display: flex;
  justify-content: center; /* Centra el logo horizontalmente */
  align-items: center; /* Centra el logo verticalmente */
  padding: 5px; /* Añade un poco de espacio alrededor del logo */
}

.header-logo {
  height: auto; /* Mantiene la proporción del logo */
  width: 80%; /* Ajusta el ancho inicial del logo */
  max-width: 120px; /* Establece un máximo para el ancho */
}

/* Media query para pantallas más grandes */
@media (min-width: 768px) {
  .header-logo {
    max-width: 150px; /* Permite que el logo sea un poco más grande en pantallas grandes */
  }
}


ion-icon[name="cart"] {
  font-size: 2em; /* Aumenta el tamaño del icono */
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.5em;
}