<ion-header>
  <ion-toolbar>
    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      <!-- Botón del menú -->
      <ion-buttons>
        <ion-menu-button mode="md"></ion-menu-button>
      </ion-buttons>

    <!-- Logotipo de la tienda -->
    <div class="logo">
        <img src="../../../assets/logodarmacio.png" alt="Logo de la tienda" class="header-logo">
    </div>



      <!-- Barra de búsqueda -->
      <ion-searchbar mode="md" search-icon="search-circle" placeholder="Custom Search Icon"></ion-searchbar>

    <!-- Apartado del usuario -->
    <div *ngIf="userData" class="user-section">
      <ion-avatar>
        <img src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png">
      </ion-avatar>
      <span>{{ userData.nombreusuario }}</span>
    </div>

      <!-- Botón del carrito de compras -->
      <ion-buttons slot="end" style="margin-right: 10px; position: relative;">
        <ion-button mode="md" routerLink="/cartshop" (click)="navigateToCartShop()">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
          <ion-badge color="danger" *ngIf="cartItemCount > 0" class="cart-badge">{{ cartItemCount }}</ion-badge>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>
