<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card class="rounded-card">
          <swiper-container [autoplay]="{ delay: 7000 }">
            <swiper-slide *ngFor="let image of product?.images">
              <img [src]="image" alt="{{ product?.descripcion }}" class="my-image bordered-image">
            </swiper-slide>
          </swiper-container>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Plantilla de Medición de Talla de Pie</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Esta plantilla es una herramienta útil para medir la talla de tu pie en casa. Por favor, asegúrate de imprimirla en una hoja de tamaño A4 sin ajustar la escala de impresión, para mantener las dimensiones correctas. Sigue las instrucciones detalladas en la plantilla para obtener una medición precisa.
          </ion-card-content>
        </ion-card>

        <ion-item class="ion-justify-content-center">
          <ion-button expand="block" shape="round" color="primary" class="custom-button" (click)="downloadImage()">Descargar Plantilla</ion-button>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="6">
        <ion-card class="rounded-card">
          <ion-card-header>
            <ion-card-title class="product-title">{{ product?.descripcion }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-icon name="pricetag-outline" slot="start"></ion-icon>
                    <ion-label><strong>Marca:</strong> {{ product?.marca }}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="color-palette-outline" slot="start"></ion-icon>
                    <ion-label><strong>Colores:</strong> {{ product?.color_1 }}, {{ product?.color_2 }}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="cash-outline" slot="start"></ion-icon>
                    <ion-label><strong>Precio:</strong> {{ product?.precio | currency }}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card class="rounded-card">
          <ion-card-header>
            <ion-card-title class="product-title">Selecciona tu talla</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="4" *ngFor="let talla of tallas">
                  <ion-button expand="block" fill="outline" [color]="selectedTalla === talla ? 'primary' : 'medium'" (click)="selectTalla(talla)">
                    {{ talla }}
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card class="rounded-card">
          <ion-card-header>
            <ion-card-title class="product-title">Detalles del producto</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-icon name="time-outline" slot="start"></ion-icon>
                    <ion-label><strong>Días de entrega:</strong> {{ product?.dias_entrega }}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="layers-outline" slot="start"></ion-icon>
                    <ion-label><strong>Material:</strong> {{ product?.material }}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="flag-outline" slot="start"></ion-icon>
                    <ion-label><strong>País de fabricación:</strong> {{ product?.pais_fabricacion }}</ion-label>
                  </ion-item>
                  <ion-item class="ion-justify-content-center">
                    <ion-button expand="block" shape="round" color="primary" class="custom-button" [disabled]="!selectedTalla" (click)="goToCartshop(product)">Añadir al carrito</ion-button>
                    <!-- Message to select size if not selected -->
                    <p *ngIf="!selectedTalla" style="color: red; text-align: center;">Por favor, selecciona una talla antes de añadir al carrito.</p>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="rounded-card">
    <ion-card-header>
      <ion-card-title class="product-title">Productos Destacados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="4" size-lg="3" *ngFor="let product of destacProducts">
            <ion-card class="product-card rounded-card ion-margin-bottom">
              <img [src]="product.images[0]" [alt]="product.descripcion" class="card-image bordered-image"/>
              <ion-card-header class="product-card-header">
                <ion-card-title class="product-title">{{product.descripcion}}</ion-card-title>
                <ion-card-subtitle class="product-subtitle">${{product.precio}}</ion-card-subtitle>
              </ion-card-header>
              <ion-button class="product-button" expand="full" color="primary" (click)="goToProductDetails(product)">VER PRODUCTO</ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
