.my-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.product-card {
  .card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .product-card-header {
    text-align: center;
  }
  .product-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .product-subtitle {
    font-size: 1rem;
    color: #888;
  }
  .product-button {
    margin-top: 1rem;
  }
}
