.product-card {
  height: 300px;
  width: 100%; /* Ancho por defecto */
}

.product-image {
  height: 50%;
  width: 100%; /* Ancho por defecto */
}

.product-details {
  height: 40%;
  width: 100%; /* Ancho por defecto */

}

.quantity-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center; /* Alineación vertical al centro */
  width: 100%; /* Ancho por defecto */
}

.quantity-input {
  width: 50px;
  text-align: center;
}

.ion-margin {
  position: relative;
  z-index: 1;
}
