<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditing ? 'Editar' : 'Agregar' }} Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Producto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Código del Producto</ion-label>
          <ion-input [(ngModel)]="product.codigo_alfa" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre del Producto</ion-label>
          <ion-input [(ngModel)]="product.descripcion" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input [(ngModel)]="product.precio" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Marca</ion-label>
          <ion-input [(ngModel)]="product.marca" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Color Primario</ion-label>
          <ion-input [(ngModel)]="product.color_1" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Color Secundario</ion-label>
          <ion-input [(ngModel)]="product.color_2" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Días de Entrega</ion-label>
          <ion-input [(ngModel)]="product.dias_entrega" type="number"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Imágenes Anexadas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="4" *ngFor="let image of uploadedImages">
            <ion-card>
              <ion-img [src]="image.url" style="width: 100%; height: 150px; object-fit: cover;"></ion-img>
              <ion-card-content>
                <ion-label>{{ image.name }}</ion-label>
                <ion-button fill="clear" color="danger" (click)="removeImage(image)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item lines="none" class="custom-file-input">
        <ion-label position="stacked">Agregar Nueva Imagen</ion-label>
        <ion-button fill="outline" slot="start" (click)="fileInput.click()">Seleccionar Imagen</ion-button>
        <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
      </ion-item>
      <div *ngIf="selectedImage">
        <ion-card style="width: 200px; height: 200px;">
          <ion-img [src]="selectedImage" style="width: 100%; height: 100%; object-fit: cover;"></ion-img>
        </ion-card>
        <ion-button (click)="uploadImage()">Subir Imagen</ion-button>
        <ion-button color="danger" (click)="removeSelectedImage()">Eliminar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="saveProduct()" color="success">{{ isEditing ? 'Actualizar' : 'Agregar' }} Producto</ion-button>
</ion-content>
