ion-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffc28c;
  color: white;
}
