
  <ion-card class="custom-header">
        <ion-card-title>Gestion de productos</ion-card-title>
  </ion-card>


<ion-content>
  <ion-row style="height: 100%;">
    <ion-col>
      <ion-item>
          <ion-button (click)="mostrarCrud(0)" slot="start" size="small" >
            <ion-icon slot="start" name="create"></ion-icon>
            Nuevo
          </ion-button>
          <ion-searchbar class="custom-searchbar" animated debounce="300" placeholder="Escriba aquí para filtrar los datos..." (ionChange)="updateFilter($event)" (ionClear)="updateFilter($event)"></ion-searchbar>      </ion-item>
      <ag-grid-angular
        style="width: 100%; height: 90%;"
        class="ag-theme-alpine  custom-grid"
        [gridOptions]="gridOptions"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [pagination]="true"
        [components]="frameworkComponents"
        [rowClassRules]="rowClassRules"
        >
      </ag-grid-angular>
    </ion-col>
  </ion-row>
</ion-content>
