ion-content {
  ion-card {
    margin: 20px;
    border-radius: 15px; // round the card corners
    overflow: hidden; // hide the content that goes outside the card corners

    ion-card-header {
      background-color: #f8f9fa;
      ion-card-title {
        text-align: center;
        font-size: 1.5em;
        color: #343a40;
      }
    }

    ion-card-content {
      ion-grid {
        ion-row {
          border-bottom: 1px solid #dee2e6;
          &:first-child { // style the header row
            text-transform: uppercase; // make the text uppercase
            font-weight: bold; // make the text bold
          }
          &:last-child {
            border-bottom: none;
          }

          ion-col {
            padding: 10px;
            text-align: center;

            &:first-child {
              text-align: left;
            }

            &:last-child {
              text-align: right;
            }
          }
        }

        ion-button {
          margin: 0 5px;
          --background: #007bff; // change the background color
          --color: #fff; // change the text color
          --border-radius: 50%; // make the buttons round
          --padding-start: 10px; // increase the padding
          --padding-end: 10px;
          --height: 40px; // set a fixed height
          --width: 40px; // set a fixed width

          &:hover {
            --background: #0056b3; // change the background color on hover
          }

          ion-icon {
            font-size: 20px; // increase the icon size
          }
        }
      }
    }
  }
}


.success {
  --color: green;
}

.other {
  --color: gray;
}
