<ion-content [fullscreen]="true" class="pay-admin-content">
  <!-- Payment Intents Table -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Payment Intents</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-button (click)="exportToExcelIntents()" slot="start" size="small" class="btn-excel">
          <ion-icon name="download-outline"></ion-icon>
          <ion-label>EXCEL</ion-label>
        </ion-button>
        <ion-searchbar class="custom-searchbar" animated debounce="300" placeholder="Escriba aquí para filtrar los datos..."></ion-searchbar>
      </ion-item>
      <ag-grid-angular
        style="width: 100%; height: 400px;"
        class="ag-theme-alpine"
        [rowData]="paymentIntents?.data"
        [columnDefs]="paymentIntentsColumnDefs"
        [defaultColDef]="defaultColDef"
        [animateRows]="true"
        [localeText]="localeText"
        [pagination]="true"
        [paginationPageSize]="10">
      </ag-grid-angular>
    </ion-card-content>
  </ion-card>

  <!-- Charges Table -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Charges</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-button (click)="exportToExcelCharges()" slot="start" size="small" class="btn-excel">
          <ion-icon name="download-outline"></ion-icon>
          <ion-label>EXCEL</ion-label>
        </ion-button>
        <ion-searchbar class="custom-searchbar" animated debounce="300" placeholder="Escriba aquí para filtrar los datos..."></ion-searchbar>
      </ion-item>
      <ag-grid-angular
        style="width: 100%; height: 400px;"
        class="ag-theme-alpine"
        [rowData]="charges?.data"
        [columnDefs]="chargesColumnDefs"
        [defaultColDef]="defaultColDef"
        [animateRows]="true"
        [pagination]="true"
        [paginationPageSize]="10">
      </ag-grid-angular>
    </ion-card-content>
  </ion-card>
</ion-content>
