<ion-menu side="start" contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar class="menu-header">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="8" class="ion-text-center">
            <ion-item lines="none">
              <ion-label>
                <!-- Si userData existe, muestra el avatar y el nombre y apellido del usuario -->
                <ion-card *ngIf="userData; else noUser" style="display: flex; align-items: center;   border: none !important; box-shadow: none !important;">
                  <ion-avatar class="small-avatar">
                    <img src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png">
                  </ion-avatar>
                  {{userData.nombre}} {{userData.apellido}}
                </ion-card>

                <!-- Si userData no existe, muestra un mensaje para que el usuario inicie sesión -->
                <ng-template #noUser>
                  <div>Inicia sesión para una experiencia completa</div>
                </ng-template>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="userData" size="4" class="ion-text-right">
            <ion-item lines="none" (click)="logout()">
              <ion-icon slot="end" name="log-out-outline"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menu-list">
      <ion-menu-toggle auto-hide="false">
        <ion-item class="menu-item slide-in" (click)="navigateTo('/home')">
          <ion-icon name="home" slot="start"></ion-icon>
          Home
        </ion-item>
        <ion-item class="menu-item slide-in" (click)="navigateTo('/productos')">
          <ion-icon name="basket" slot="start"></ion-icon>
          Productos
        </ion-item>

        <div *ngIf="!userData || (userData && userData.type !== 'admin')">
          <ion-item class="menu-item slide-in" (click)="navigateTo('/perfil')">
            <ion-icon name="person" slot="start"></ion-icon>
            Cuenta
          </ion-item>
          <ion-item class="menu-item slide-in" (click)="navigateTo('/cartshop')">
            <ion-icon name="cart" slot="start"></ion-icon>
            Carrito
          </ion-item>
        </div>

        <div *ngIf="userData && userData.type === 'admin'">
          <ion-item class="menu-item slide-in" (click)="navigateTo('/dashboard')">
            <ion-icon name="stats-chart" slot="start"></ion-icon>
            Dashboard
          </ion-item>
          <ion-item class="menu-item slide-in" (click)="navigateTo('/users')">
            <ion-icon name="people" slot="start"></ion-icon>
            Gestion de Usuarios
          </ion-item>
          <ion-item class="menu-item slide-in" (click)="navigateTo('/pay-admin')">
            <ion-icon name="wallet" slot="start"></ion-icon>
            Reporte de Pagos
          </ion-item>
          <ion-item class="menu-item slide-in" (click)="navigateTo('/products-admin')">
            <ion-icon name="pricetags" slot="start"></ion-icon>
            Gestion de Productos
          </ion-item>
        </div>

        <div *ngIf="!userData || (userData && userData.type !== 'admin')">
          <ion-item class="menu-item slide-in" (click)="navigateTo('/login')">
            <ion-icon name="log-in" slot="start"></ion-icon>
            Iniciar sesion
          </ion-item>
        </div>
      </ion-menu-toggle>

      <ion-item>
        <ion-toggle [(ngModel)]="themeToggle" (ionChange)="toggleChange($event); $event.stopPropagation()" justify="space-between"
          >Dark Mode</ion-toggle
        >
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
