<ion-content id="main-content">
  <!-- Agrega esto para el carrusel de Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let image of images">
        <img [src]="image" alt="Slide image">
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <!-- Fin del carrusel de Swiper -->

  <div *ngIf="isLoggedIn; else notLoggedIn">
    <!-- Contenido para usuarios conectados -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido de nuevo!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aquí puedes ver tus productos favoritos y las últimas ofertas.</p>
        <!-- Lista de productos -->
        <ion-list>

        </ion-list>
      </ion-card-content>
    </ion-card>
    <br>
  </div>

  <div class="card">
    <p-carousel [value]="[
      {image: 'product1.png', name: 'Product 1', price: 100, inventoryStatus: 'In Stock'},
      {image: 'product2.png', name: 'Product 2', price: 200, inventoryStatus: 'Low Stock'},
      {image: 'product3.png', name: 'Product 3', price: 300, inventoryStatus: 'Out of Stock'}
    ]" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
      <ng-template let-product pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
          <div class="mb-3">
            <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" [alt]="product.name" class="w-6 shadow-2" />
          </div>
          <div>
            <h4 class="mb-1">{{ product.name }}</h4>
            <h6 class="mt-0 mb-3">{{ '$' + product.price }}</h6>
            <p-tag [value]="product.inventoryStatus"></p-tag>
            <div class="mt-5 flex align-items-center justify-content-center gap-2">
              <p-button icon="pi pi-search" [rounded]="true" />
              <p-button icon="pi pi-star-fill" [rounded]="true" severity="secondary" />
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>



  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card style="width: 360px;">
          <ion-card-header>
            <ion-card-subtitle>Card Subheader</ion-card-subtitle>
            <ion-card-title>Advanced Card</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img src="https://primefaces.org/cdn/primeng/images/usercard.png" alt="Card" />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
              quas!
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card style="width: 360px;">
          <ion-card-header>
            <ion-card-subtitle>Card Subheader</ion-card-subtitle>
            <ion-card-title>Advanced Card</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img src="https://primefaces.org/cdn/primeng/images/usercard.png" alt="Card" />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
              quas!
            </p>
          </ion-card-content>
        </ion-card>    
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card style="width: 360px;">
          <ion-card-header>
            <ion-card-subtitle>Card Subheader</ion-card-subtitle>
            <ion-card-title>Advanced Card</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img src="https://primefaces.org/cdn/primeng/images/usercard.png" alt="Card" />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
              quas!
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>        
  

  <ng-template #notLoggedIn>
    <!-- Contenido para usuarios no conectados -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido a nuestra tienda!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Para disfrutar de todas las funciones, por favor inicia sesión o regístrate.</p>