ion-button, .brand-card, .content-container {
  transition: transform 0.3s ease-in-out;
}

ion-button:hover, .brand-card:hover, .content-container:hover {
  transform: scale(1.1);
}

.header-content, .subpages, .logo, swiper-slide {
  display: flex;
}

.header-content {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.subpages {
  gap: 10px;
}

.logo {
  flex-grow: 1;
  justify-content: center;
}

.slide-image {
  width: 100%;
  height: auto;
}

.swiper-container {
  width: 100%;
  height: 35%;

  @media (max-width: 600px) {
    height: 50%;
  }

  @media (max-width: 400px) {
    height: 75%;
  }
}

swiper-slide {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.my-button:hover {
  background-color: #45a049;
}

:host ::ng-deep .product-item .product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}

:host ::ng-deep .product-item .product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.image-container {
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-image {
  transition: transform 0.3s ease-in-out;
}

.brand-image:hover {
  transform: scale(1.1);
}

.brand-subtitle, .brand-title, .content-text {
  transition: color 0.3s ease-in-out;
}

.brand-subtitle:hover, .brand-title:hover, .content-text:hover {
  color: #ffffff;
}

.dark-card {
  background-color: #181846;
  width: 80%;
  margin: 0 auto;
}

.white-text {
  color: #FFFFFF;
}

.brand-card {
  font-family: 'Oswald', sans-serif;
  border-radius: 15px; // Ajusta este valor a tus necesidades
}


ion-footer {
  --background: #181846;

  ::ng-deep {
    h5, a, p {
      color: white;
    }

    ion-icon {
      color: white;
    }
  }
}
